/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Aligner .scroll {
  height: 100%;
}

.Aligner-item {
  max-width: 50%;
}

.startItem {
  font-size: 50px;
}

.navbar-text {
  margin-left: 15px;
}

.setCard.active {
  box-shadow: 0px 5px 20px;
  //border: solid 2px black !important;
  margin-top: -5px !important;
  margin-bottom: 9px !important;
}

.alert {
  position: absolute;
  top: -12px;
  width: 100%;
  left: 0px;
}

#gameContainer {
  padding-top: 20px;
  position: absolute;
}

#ngProgress-container {
  position: absolute;
}

.options {
  width: 80%;
}

.header {
  margin-top: 5px;
  margin-bottom: 15px;
}

.level {
  text-align: right;
}

.header-left {
  margin-left: 15px;
}

.header-right {
  margin-right: 15px;
}

.alert {
  text-align: center;
}

.cards20Col {
    position: relative;
    min-height: 1px;
    width: 20%;
    float: left;
}

.setCard {
  margin: 2px;
  padding: 0px;
  border-radius: 5px;
  background: #f8f8f8;
  border: solid 2px #777;
}

.red {
  background: #FFE4E4;
}

.green {
  background: #D1FFD1;
}

.blue {
  background: #D1F0FF;
}

.yellow {
  background: #FFF0AB;
}

.purple {
  background: #f3ccff;
}

.footer {
  margin: 0px;
}

.cardRow {
    margin: 0px;
}

div[class*="col"]{
    padding: 0px;
}

.level-intro {
  position: absolute;
  width: 300px;
  height: 120px;
  margin-left: -150px;
  margin-top: -150px;
  left: 50%;
  top: 50%;
  z-index: 9999;
  border: 1px solid #ddd;
  background: #fff;
  //transform: translate(-50%, -50%);
}

.scoreHeader {
  padding: 12px !important;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #ddd;
}

.scoreItem {
  background: #ffffff;
  padding: 12px !important;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  color: #444;
  margin-top: 0px !important;
}

.button-bar .button {
  border-radius: 0px !important;
}

.item[disabled] .item-content {
  color: #ccc;
}

.item-radio .item-content {
  //padding: 6px 0px 6px 16px !important;
}

.item-radio .radio-icon {
  //padding: 0px 10px 0px 0px !important;
}


@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-400%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(400%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.selectedScore {
  background: yellow;
}


.slide-in-left{
   -webkit-animation: slideInLeft ease-in 1; 
  animation: slideInLeft ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.slide-in-right{
   -webkit-animation: slideInRight ease-in 1; 
  animation: slideInRight ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

@media (min-width: 0px) {
  .modal-backdrop-bg {
    opacity: 0.5 !important;
    background-color: #000;
  }
}

._1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
._2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
._3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
._4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
._5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
._6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
._7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
._8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
._9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
._10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

._11 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

._12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}


