<ion-view view-title="Start">
   <div class="bar bar-header bar-light">
      <button class="button button-clear icon-left ion-arrow-left-b pull-left" ui-sref="start"></button>
      <h1 class="title">Settings</h1>
    </div>
  <ion-content class="has-header" has-bouncing="false">

    <!-- content goes here -->

   
    
    
    <ul class="list">

        <li class="item item-toggle">
            Some setting
            <label class="toggle toggle-calm">
            <input type="checkbox" ng-model="soundOn">
            <div class="track">
                <div class="handle"></div>
            </div>
            </label>
        </li>

        <li class="item item-toggle">
            Another setting
            <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="setting2">
            <div class="track">
                <div class="handle"></div>
            </div>
            </label>
        </li>
        
        <li class="item item-toggle">
            What?? Another setting???
            <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="setting3">
            <div class="track">
                <div class="handle"></div>
            </div>
            </label>
        </li>

    </ul>
    

  </ion-content>
</ion-view>
