<ion-tabs class="tabs-icon-top tabs-stable">
  
  <!-- Options Tab -->
  <ion-tab title="Game type" icon-off="ion-ios-star-outline" icon-on="ion-ios-star"
    ui-sref="main.options">
    <ion-nav-view name="tab-options"></ion-nav-view>
  </ion-tab>
  
  <!-- Options Tab -->
  <ion-tab title="Scores" icon-off="ion-ios-list-outline" icon-on="ion-ios-list"
    ui-sref="main.scores">
    <ion-nav-view name="tab-scores"></ion-nav-view>
  </ion-tab>

  <!-- Options Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
